# dependencies
client/node_modules/
server/node_modules/

# environment files
.env
client/.env
server/.env

# build outputs
dist/
build/

# editor/system files
.vscode/
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
